/**  */

/** MEDIA PRINT */
@media print {

    body {
        overflow-x: inherit;
        padding: 0;
        counter-reset: pagecounter; /* カウンタの初期化 */
    }

    /* ページカウント */
    .pagecounter::after {
      position: absolute;
      bottom: 0;
      right: 0;
      counter-increment: pagecounter;
      content: "" counter(pagecounter);
    }


    /* 印刷しない要素　*/
    .noprint, .btn, .navi_sub, .title_right_ri, .number_style, .nav_style_height, header, footer{
        display: none;
    }

    /* 印刷しない罫線 */
    .noprintborder {
        border: none;
    }

    /* FORM */
    #maincontent input, #maincontent select, #maincontent textarea {
        border: none;
    }
    .input-group-addon {
        display: none;
    }

    /*---- プルダウンの矢印 ----*/
    select {
    	-webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    	-moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
    	appearance: none;		/* 標準のスタイルを無効にする */
    }
    ::-ms-expand {		/* select要素のデザインを無効にする（IE用） */
    	display: none;
    }
    /*---- /プルダウンの矢印 ----*/

    /*---- 入力例 ----*/
    /* Webkit */
    ::-webkit-input-placeholder {
        display: none;
        color: #f00;
        opacity: 1;
    }
    /* Firefox 18 以前 */
    :-moz-placeholder {
        display: none;
        color: #f00;
    }
    /* Firefox 19 以降 */
    ::-moz-placeholder {
        display: none;
        color: #f00;

        /* Firefox 19 以降のデフォルトでは */
        /* color ではなく opacity で色合いを調整しているため */
        /* 文字色を指定する場合、opacity を 1 にする必要がある */
        opacity: 1;
    }
    /* IE 10 以降 */
    :-ms-input-placeholder {
        display: none;
        color: #f00;
    }
    /* CSS4では以下のような名前の擬似クラスになるらしい */
    /* おそらく今のところ対応ブラウザはない */
    :placeholder-shown {
        display: none;
        color: #f00;
    }
    /*---- /入力例 ----*/

    /* 個別設定 */
    .navi_sub {
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }


    /* 改ページ用の設定 */
    .pagebreak {
        position: relative;
        page-break-after: always;
    }

    /* 基本のページ設定　*/
/*A4印刷以外もあるため、各帳票でページ設定をすること
    @page{
        size: A4;
    /*   margin: 12mm; */
    }
*/
}
