body#accept{
    margin: 0;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

main.py-4 {
    padding-top: 0.2rem !important; 
}

#sales_cal_date {
    background: #fff;
}

label.text-head {
    display: inline-block;
    margin-bottom: 0rem;
    font-weight: bold;
}

.tab-contents {
    margin: auto;
}

#sales_date {
    width: 250px;
}

.rcv_calendar {
	display: flex;
    flex-wrap: wrap;
}

div.cust-info ,
div.cust-dept-info ,
div.place-info ,
div.landing-info ,
div.item-info  {
	height:280px;
	overflow:auto; 
	transform: translateZ(0); 
	-webkit-overflow-scrolling: touch; 
}


#cust-info-tbl td,
#cust-dept-tbl td,
#place-info-tbl td,
#landing-info-tbl td {
	overflow:auto; 
/*	-webkit-overflow-scrolling: touch; */
    -webkit-overflow-scrolling: auto;
}

#cust-info-tbl td,
#cust-dept-tbl td,
#place-info-tbl td,
#landing-info-tbl td {
	transform: translateZ(0); 
	width:560px;
}


.row_item_name {
    width:300px;
    text-align: left;
}

.row_item_unit {
    width:90px;
    text-align: center;
}

.row_sea_price ,
.row_land_price {
    width:75px;
    text-align: right;
}

#delivery_move {
    display:none;
    margin-bottom:10px;
}

#delivery_move > .row {
    margin-bottom:10px;
}
.arrival_type {
/*	left: 20%; */
    margin-bottom: 1.5em;
    margin-top: -0.4em;
}

hr.sales_line {
	background-color: #ffc107;
	width: 100%;
	size: 10px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.card-button {
	margin-top: 1em;
}

.distnation {
	margin-bottom: -1.0em;
	width: 100%;
}

.sales_card {
	font-size: 16px;
}

.sales_card_body {
/*	min-height:335px; */
/*    min-width: 265px; */
/*	max-height:360px; */
    height: 335px; 
	overflow:auto;
	-webkit-overflow-scrolling: touch; 
}

.sales_card_body > .row {
    padding-bottom:5px;
}

.sales_card_footer {
	font-size: 12px;
}

#sale_item_block {
}

.sales_card_form_group {
    margin-bottom: 0.5rem; 
}

.sales-no {
    right: 1px ;
    top: 1px ;
    width: 250px ;
    height: 11px ;
    z-index: 10 ;
    float: right;
    text-align: right;
    margin-bottom: 15px;
}

div.sale_items {
    border: 1px solid #c0c7ce;
    border-radius: 10px;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    width: 100%;
    padding: 10px;
    display: inline-block;
}

.clear {
	clear:both;
 }  


div.sales-card {
	margin-left:-1.5em;
    font-size: 16px;
}

.item_select {
	width:250px;
}

.item-close {
/*    right: 1px ; */
    top: 1px ;
    width: 11px ;
/*    height: 11px ; */
    z-index: 10 ;
    float: right;
    margin-right: 15px;
}

.item-close-icon {
    font-size: 35px;
}

.i-button {
	padding-left:10px;
}

.item_quantity,
.sea_price,
.land_price {
    text-align: right;
}


.td_sales_cash {
}

.td_sales_items {
	font-size:18px;
    width:100px;
    text-align: center;
}

.td_lbl_sales_total {
	font-size:16px;
    width:100px;
    text-align: right;
}
.td_sales_total {
	font-size:30px;
    width:180px;
    text-align: right;
}

.td_lbl_sales_sea_amount_total,
.td_lbl_sales_land_amount_total,
.td_lbl_sales_tax {
	font-size:16px;
    text-align: right;
}

.td_sales_sea_amount_total,
.td_sales_land_amount_total,
.td_sales_tax {
	font-size:18px;
    text-align: right;
}

.remarks {
	width:100%;
}

.info-card-button_l,
.sales-card-button-l {
	float:left;
}

.info-card-button_r, 
.sales-card-button-r {
	float:right;
	padding-left:80px;
}

.select-row {
    background-color: #007bff17;
}

div.arrival_type > label {
  width:90px;
}

.item_quantity {
  text-align: right;
}

/*----------------------------------------------------------*/
/* 担当者選択Dialog CSS */
/*----------------------------------------------------------*/
.staff-table {
    display: table;
    width: 475px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 20px;
}

.staff-name {
    display: table-cell;
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 0.8rem;
}

.i-staff-name,
.staff-table > div > span {
    font-size; 32px;
}

.staff-name:hover { 
    background-color: #3399ff;
    color: #ffffff;
}

/*----------------------------------------------------------*/
/* タブレット用 CSS */
/*----------------------------------------------------------*/
@media only screen and (min-device-width:479px) and (max-device-width:768px) {
}


