/*----------------------------------------------------------*/
/* カナ検索 CSS */
/*----------------------------------------------------------*/
	.kanapager {
	    overflow: hidden;
		margin-left: 1em;
	    margin-right: 1em;
		margin-bottom: 0.5em;
	}
	 
	.kanapager ul {
	    list-style: none;
	    position: relative;
	    left: 50%;
	    float: left;
	}
	 
	.kanapager ul li {
	    margin: 0 1px;
	    position: relative;
	    left: -50%;
	    float: left;
	    padding: 0em;
	}
	 
	.kanapager ul li span,
	.kanapager ul li a {
	    display: block;
	    font-size: 16px;
	    padding: 0.6em 1em;
	    border-radius: 3px;
	}
	 
	.kanapager ul li a {
	    background: #EEE;
	    color: #000;
	    text-decoration: none;
	}
	 
	
	.kanapager ul li a.current {
    	background-color: #007bff;
    	color: #fff;
/*
	    background: #333;
	    color: #FFF;
*/
	}
	
	.kana_prev, .kana_next  {
	    margin-top: 5px;
	    margin-bottom: 5px;
	}

}
