ul, li {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tab-title {
	position: relative;
	width: 100%;
}
.tab-title:before, .tab-title:after {
	  display: table;
	  content: '';
}
.tab-title:after {
	clear: both;
}
/* tab 横幅 */
.tab-title li {
	position: relative;
	float: left;
	width: 20%;
	padding: 0.8em 0;
	color: #495057;;
	text-align: center;
	background-color: #e9ecef;
	cursor: pointer;
	overflow: hidden;
    font-size: 14px;
    border: 1px solid #fff;
}

.tab-title li.active, 
.tab-title li:hover {
	background-color: #007bff;
	color: #fff;
}

.tab-title-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 20%;
	height: 4px;
	background-color: #ffc107;
	-webkit-transition: .45s ease-in-out;
	-moz-transition: .45s ease-in-out;
	-o-transition: .45s ease-in-out;
	transition: .45s ease-in-out;
}
.tab-contents li {
/*	display: none; */
/*	padding: 0.6em; */
	display: none;
    padding: auto;
	background-color: #fff;
}

.tab-contents li.active {
	display: block;
}

/*

.tab-contents li a.active {
	display: block;
}

*/
/* 波紋 */
.ripple {
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 1;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.ripple-animation {
	-webkit-animation: ripple .6s linear;
	-moz-animation: ripple .6s linear;
	animation: ripple .6s linear;
}
@-webkit-keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
	}
}
@keyframes ripple {
	100% {
		opacity: 0;
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
	}
}
